[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
httpx = {extras = ["http2"], version = "*"}
pyautogui = "*"
pydirectinput = "*"
pynput = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
lxml = "*"
matplotlib = "*"
you-get = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
